body{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	background-color: rgb(237, 231, 246);
	margin: 0;
}


.first_block {
	width: 100%;
	height: 50%;
	background-color: rgb(103, 58, 183);
}

.third_block {
	margin-top: -100px;
	margin-left: 26%;
	margin-right: 26%;
	background: #fff;
}


.main_form{
	
	width: 100%;
}

.form_title_name{
	font-size: 34px;
	color: rgba(0,0,0,.87);
}

.form_title_about {
	font-size: 13px;
	color: rgba(0,0,0,.87)
}

.form_title_rules{
	font-size: 13px;
	color: #db4437;
}

.title_about_akk{
	font-weight: 700;
	font-size: 13px;
}

.title_about_akkchan{
	font-size: 13px;
}

.form_item_name_header_container_text,
.form_item_color_header_container_text,
.form_item_town_header_container_text, 
.form_item_namelang_header_container_text,
.form_item_years_header_container_text, 
.form_item_image_header_container_text,
.form_item_date_header_container_text{
	color: #000;
	font-size: 20px;
}

.rules_star {
	font-size: 20px;
	color: #db4437;
}

.form_itme_color_ansmwer_text,
.form_itme_town_ansmwer_text,
.form_item_namelang_answer,
.form_itme_years_ansmwer_text{
	color: rgba(0,0,0,.87);
}



